<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Concert Booking</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-white shadow-md">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <!-- Website Logo -->
                    <a href="./home.html" class="flex items-center py-4 px-2">
                        <img src="./images/logo.webp" alt="Logo" class="h-10 w-10 mr-2">
                        <span class="font-semibold text-gray-500 text-lg">Concert Booking</span>
                    </a>
                </div>
                <!-- Primary Navbar items -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="./home.html"
                       class="py-4 px-2 text-blue-500 border-b-4 border-blue-500 font-semibold">Home</a>
                    <a href="./concert.html"
                       class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300">Concerts</a>
                    <a href="./about.html"
                       class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300">About</a>
                    <a href="./contact.html"
                       class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300">Contact</a>
                </div>
                <!-- Secondary Navbar items -->
                <div class="hidden md:flex items-center space-x-3">
                    <a href="./login.html"
                       class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-gray-200 transition duration-300">
                        Log
                        In
                    </a>
                    <a href="./Registration.html"
                       class="py-2 px-2 font-medium text-white bg-blue-500 rounded hover:bg-blue-700 transition duration-300">
                        Sign
                        Up
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-6">
        <div class="max-w-6xl mx-auto text-center">
            <p>&copy; 2024 Concert Booking. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
